<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-9xl font-bold tracking-tighter"
        >
          My most
          <span class="lg:block">recent work</span>
        </h1>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3 mt-12"
      >
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/01.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">Star Plastic Industries</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Production of poultry keeping products
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/02.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">IdealtJam</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            The company sells and repairs refrigerator compressors
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/03.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">ImanKaran Vahdat</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Supply and production of anti-theft doors in Iran
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/04.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">ChapSina</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            CD printing and burning and locking
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/07.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">Irannaz Bano</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Selling all kinds of cosmetics with the best quality
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/06.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">Iseokar</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Website design and SEO websites
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/05.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">Dandanesh</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            A specialized center for the sale of medical dental equipment
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="/images/all-logo/08.jpg"
              width="64"
              height="64"
              decoding="async"
              data-nimg="future"
              class="h-16 w-16 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <span
                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">Pamuk</span>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Selling foreign products and Amazon inside Iran
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
