<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-9xl font-bold tracking-tighter"
        >
          My
          <span class="lg:block">Certificate</span>
        </h1>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3 mt-12"
      >
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Google Analytics for Beginners"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/X7fKwZ_VTP-8V_-mlmCGYw"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Google Analytics for Beginners</span
                >
              </a>
            </h2>
          </div>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Introduction to Data Studio"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/UsNMZbPHRPyKzoL4f0ZHLA"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Introduction to Data Studio</span
                >
              </a>
            </h2>
          </div>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Google Tag Manager Fundamentals"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/k5yUuE6qTmqnW9VqQKmz-Q"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Google Tag Manager Fundamentals</span
                >
              </a>
            </h2>
          </div>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Advanced Google Analytics"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/RSubvhFnTMaC8zhJXqqoKA"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Advanced Google Analytics</span
                >
              </a>
            </h2>
          </div>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Google Analytics for Power Users"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/qDdHPKoiTQuGqoGDw3zkUg"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Google Analytics for Power Users</span
                >
              </a>
            </h2>
          </div>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt="Getting Started With Google Analytics 360"
              src="/images/google-logo.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a
                href="https://analytics.google.com/analytics/academy/certificate/pzRCRhdxQ3GOl_kk_UxB8A"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Getting Started With Google Analytics 360</span
                >
              </a>
            </h2>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
