<div class="flex items-center justify-center w-screen h-screen bg-black">
  <div class="px-4 lg:py-12">
    <div class="lg:gap-4 lg:flex">
      <div class="flex flex-col items-center justify-center md:py-24 lg:py-32">
        <h1 class="font-bold text-yellow-400 text-9xl">404</h1>
        <p class="mb-2 text-2xl font-bold text-center text-white md:text-3xl">
          <span class="text-yellow-400">Oops!</span> Page not found
        </p>
        <p class="mb-8 text-center text-gray-200 md:text-lg">
          The page you requested was not found.
        </p>
        <a
          href="/"
          class="px-6 py-2 text-sm font-semibold text-yellow-700 bg-yellow-500 rounded-md"
          >Go home</a
        >
      </div>
    </div>
  </div>
</div>
