<aside class="w-full">
  <div
    class="sticky top-0 rounded-xl w-full px-8 sm:px-16 py-8 lg:py-12 lg:px-10"
  >
    <div>
      <!-- <a href="/" class="text-black dark:text-white"> -->
      <svg width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
        <g clip-path="url(#clip0_112_3926)">
          <path
            d="M14.96 9.04998L20.01 11.07C21.34 11.6 21.34 12.46 20.01 12.99L14.96 15.01L12.94 20.06C12.41 21.32 11.55 21.32 11.02 20.06L8.99999 15.01L3.95 12.99C2.69 12.46 2.69 11.6 3.95 11.07L8.99999 9.04998L11.02 4C11.55 2.66 12.41 2.66 12.94 4L14.96 9.04998Z"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            fill="white"></path>
        </g>
      </svg>
      <!-- </a> -->
    </div>
    <h1
      class="text-black dark:text-white text-2xl md:text-4xl xl:text-7xl 2xl:text-6xl font-bold tracking-tighter"
    >
      Amirreza Heydari
    </h1>
    <div class="lg:mt-8 max-w-xl">
      <p class="dark:text-zinc-400 text-zinc-500 text-base">
        I Am a Web Developer, And a User Interface Designer, And a Content
        Producer, I like to Share My Knowledge With Everyone.
      </p>
    </div>
    <div class="mt-4 pt-6 border-t border-zinc-800">
      <ul class="inline-flex items-center gap-3" role="list">
        <!-- phone -->
        <li class="flex">
          <a
            class="group flex text-sm font-medium dark:text-zinc-400 text-zinc-500 transition hover:text-black dark:hover:text-white"
            href="tel:09981040774"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-zinc-400"
            >
              <path
                d="M15.1653 20.8835C16.0469 21.0388 16.9531 21.0388 17.8347 20.8835C19.2516 20.6338 20.3929 19.6826 20.786 18.4236L20.8694 18.1565C20.956 17.879 21 17.5919 21 17.3034C21 16.0313 19.8623 15 18.4589 15H14.5411C13.1377 15 12 16.0313 12 17.3034C12 17.5919 12.044 17.879 12.1306 18.1565L12.214 18.4236C12.6071 19.6826 13.7484 20.6338 15.1653 20.8835ZM15.1653 20.8835C9.04195 19.7489 4.25108 14.958 3.1165 8.83468M3.1165 8.83468C2.96117 7.95315 2.96117 7.04686 3.1165 6.16532C3.36618 4.74842 4.31744 3.60713 5.57641 3.21402L5.84345 3.13063C6.12103 3.04396 6.40813 3 6.69661 3C7.96874 3 9.00001 4.13768 9 5.54106L9 9.45894C9.00001 10.8623 7.96874 12 6.69661 12C6.40813 12 6.12103 11.956 5.84345 11.8694L5.57641 11.786C4.31744 11.3929 3.36618 10.2516 3.1165 8.83468Z"
              ></path>
            </svg>
            <!--  -->
          </a>
        </li>
        <!-- telegram -->
        <li class="flex">
          <a
            class="group flex text-sm font-medium dark:text-zinc-400 text-zinc-500 transition hover:text-black dark:hover:text-white"
            href="https://t.me/ipsar"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
            >
              <path
                d="M21 3L15.23 20.33C14.95 21.17 13.8 21.24 13.42 20.45L10.21 13.8L21 3.01V3Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M21 2.99999L10.21 13.79L3.56001 10.57C2.77001 10.19 2.84 9.02999 3.68 8.74999L21.01 2.98999L21 2.99999Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <!-- Github -->
        <li class="flex">
          <a
            class="group flex text-sm font-medium dark:text-zinc-400 text-zinc-500 transition hover:text-black dark:hover:text-white"
            href="https://github.com/amirrezaheydari81"
            ><svg
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-zinc-400"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 2C6.475 2 2 6.588 2 12.253c0 4.537 2.862 8.369 6.838 9.727.5.09.687-.218.687-.487 0-.243-.013-1.05-.013-1.91C7 20.059 6.35 18.957 6.15 18.38c-.113-.295-.6-1.205-1.025-1.448-.35-.192-.85-.667-.013-.68.788-.012 1.35.744 1.538 1.051.9 1.551 2.338 1.116 2.912.846.088-.666.35-1.115.638-1.371-2.225-.256-4.55-1.14-4.55-5.062 0-1.115.387-2.038 1.025-2.756-.1-.256-.45-1.307.1-2.717 0 0 .837-.269 2.75 1.051.8-.23 1.65-.346 2.5-.346.85 0 1.7.115 2.5.346 1.912-1.333 2.75-1.05 2.75-1.05.55 1.409.2 2.46.1 2.716.637.718 1.025 1.628 1.025 2.756 0 3.934-2.337 4.806-4.562 5.062.362.32.675.936.675 1.897 0 1.371-.013 2.473-.013 2.82 0 .268.188.589.688.486a10.039 10.039 0 0 0 4.932-3.74A10.447 10.447 0 0 0 22 12.253C22 6.588 17.525 2 12 2Z"
              ></path>
            </svg>
          </a>
        </li>
        <!-- email -->
        <li class="flex">
          <a
            class="group flex text-sm font-medium dark:text-zinc-400 text-zinc-500 transition hover:text-black dark:hover:text-white"
            href="mailto:amirreza09395574353@gmail.com"
            ><svg
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-zinc-400"
              ><path
                fill-rule="evenodd"
                d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
      <nav>
        <ul
          class="lg:space-y-3 space-x-3 list-none no-underline mt-6 lg:mt-12 inline-flex items-center sm:flex sm:flex-col sm:items-start sm:space-x-0"
          role="list"
        >
          <li>
            <a
              class="dark:text-zinc-400 text-zinc-500 dark:hover:text-white hover:text-black inline-flex items-center"
              href="/"
            >
              <span> Home</span>
            </a>
          </li>
          <li>
            <a
              class="dark:text-zinc-400 text-zinc-500 dark:hover:text-white hover:text-black inline-flex items-center"
              href="/about"
            >
              <span> About</span>
            </a>
          </li>
          <li>
            <a
              class="dark:text-zinc-400 text-zinc-500 dark:hover:text-white hover:text-black inline-flex items-center"
              href="/certificate"
            >
              <span>Certificate</span>
            </a>
          </li>
          <li>
            <a
              class="dark:text-zinc-400 text-zinc-500 dark:hover:text-white hover:text-black inline-flex items-center"
              href="/projects"
            >
              <span> Projects</span>
            </a>
          </li>
          <li>
            <a
              class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
              href="https://clarotm.ir/resume.jpg"
              target="_blank"
            >
              <span> Live Show Resume</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
